{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
.layui-form-item .layui-input-inline{
    margin-right: 0px;
    
}
.layui-form-item{
    clear:none;
    float: left;
    margin-bottom:5px;

}
.layui-form-label{
    width:60px;
}
.layui-form-select .layui-input{
    padding-right:5px;
}
.layui-input-block{
    width:300px;
}
#datafrom{
    background-color: #ffffff
}
</style>
<div class="layui-form">
    <blockquote class="layui-elem-quote news_search">
        <div class="layui-input-inline" style="">
            <form class="layui-form" method="post" action="{:url('basis_data/projct_report')}" class="layui-form form-signin" enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label">工种类别</label>
                    <div class="layui-input-block">
                        <select name="type_of_work" id="" lay-filter="" xm-select="type_of_word" xm-select-type="1" xm-select-search>
                            <option value=""></option>
                            {foreach name="type_of_work" item="v"}
                                <option value="{$v.id}" {if(!empty(input('type_of_work') && in_array($v['id'],explode(',',input('type_of_work')))))}selected{/if}>{$v.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分公司</label>
                    <div class="layui-input-block">
                        <select name="frame" id="" lay-filter="" xm-select="frame" xm-select-type="1" xm-select-search>
                            <option value=""></option>
                            {foreach name="frame" item="v"}
                                <option value="{$v.id}" {if(!empty(input('frame') && in_array($v['id'],explode(',',input('frame')))))}selected{/if}>{$v.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 10px">
                        <button type="submit" class="layui-btn layui-btn-blue">搜索</button>
                        <a href="{:url('basis_data/projct_report')}" class="layui-btn layui-btn-blue">清空筛选</a>
                </div>
            </form>
        </div>
    </blockquote>
    <!-- <table lay-filter="demo"> -->
        <table class="layui-table" lay-filter="test3"  lay-data="{id: '#test3', toolbar: '#toolbarDemo',defaultToolbar:['filter'],page: true,limit:20,limits:[50,100,300,500,1000,2000,5000]}">
        <thead>
            <tr>
                <th lay-data="{field:'item_number', width:100,sort:true,align:'center',style:'font-size:12px',align:'center'}">编码</th>
                <th lay-data="{field:'frame', width:100,sort:true,align:'center',style:'font-size:12px',align:'center'}">分公司</th>
                <th lay-data="{field:'name', width:200,sort:true,align:'center',style:'font-size:12px',align:'center'}">项目名称</th>
                <th lay-data="{field:'type_of_work', width:100,sort:true,align:'center',style:'font-size:12px',align:'center'}">工种类别</th>
                <th lay-data="{field:'unit', width:100,sort:true,align:'center',style:'font-size:12px',align:'center'}">单位</th>
                <th lay-data="{field:'content', width:200,sort:true,align:'center',style:'font-size:12px',align:'center'}">工艺说明</th>
                <th lay-data="{field:'cost_value', width:100,sort:true,align:'center',style:'font-size:12px',align:'center'}">综合价</th>
                <th lay-data="{field:'quota', width:120,sort:true,align:'center',style:'font-size:12px',align:'center'}">辅材报价</th>
                <th lay-data="{field:'craft_show', width:120,sort:true,align:'center',style:'font-size:12px',align:'center'}">人工报价</th>
                <th lay-data="{field:'labor_cost', width:120,sort:true,align:'center',style:'font-size:12px',align:'center'}">人工成本</th>
                <th lay-data="{field:'material', width:100,sort:true,align:'center',style:'font-size:12px',align:'center',hide:'true'}">使用的辅材</th>
            </tr> 
        </thead>
        <tbody>
            {foreach name="data" item="v"}
                <tr>
                    <td>{$v['item_number']}</td>
                    <td>{$frame[$v['fid']]['name']}</td>
                    <td>{$v['name']}</td>
                    <td>{$type_of_work[$v['type_word_id']]['name']}</td>
                    <td>{$v['unit']}</td>
                    <td>{$v['content']}</td>
                    <td>{$v['cost_value']}</td>
                    <td>{$v['quota']}</td>
                    <td>{$v['craft_show']}</td>
                    <td>{$v['labor_cost']}</td>
                    <td>
                        {if ($v['material'])}
                            {:implode(',',json_decode($v['material'],true))}
                        {/if}
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>
  
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="/static/admin/js/jquery.min.js"></script>
<!-- 引入select多选 -->
<script src="https://raw.githack.com/hnzzmsf/layui-formSelects/master/dist/formSelects-v4.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://raw.githack.com/hnzzmsf/layui-formSelects/master/dist/formSelects-v4.css" />
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;
        //转换静态表格
        // table.init('demo', {
        //   height: 800, //设置高度
        //   limit: 50,
        //   limits:[50,100,300,500,1000,2000,5000],
        //   toolbar: 'exports'  ,
        //   defaultToolbar: ['filter', 'print', 'exports'],
        //   page: true //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
        //   //支持所有基础参数
        // }); 
    })
</script>
{/block}