{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
/*分页样式*/
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
.pagination .active{background-color: #dd1a20;color: #fff;}
.pagination .disabled{color:#aaa;}
.layui-form-select{float:left;margin-right:10px}
.onfile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.onfile input {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    opacity: 0;
}
.onfile:hover {
  opacity:0.8;
  color: #1E88C7
   /* background: #AADFFD;
    border-color: #78C3F3;
    color: #fff;
    text-decoration: none;*/
}
.daoru{position:absolute;top:1px;right:-90px;}
.daorus{position:absolute;top:1px;right:-50px;height:35px}
.bigbox{padding:10px}
.bigbox input{margin-bottom:10px}
#imgs{position:relative;}
.batchs span{cursor:pointer;}
.layui-form-item{
    margin-bottom: 0;
    width: 250px;
    float: left;
    clear:none;
}
</style>

  <!-- 导出完成 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add" id="add">添加</button> 
                </div>
            </script>
            <table class="layui-table" lay-filter="test3"  lay-data="{id: '#test3',width:500, toolbar: '#toolbarDemo',defaultToolbar:['print'],limit:20}">
                <colgroup>
                    <col width="80">
                    <col width="80">
                    <col width="160">
                </colgroup>
                <thead >
                    <tr>
                        <th class="taleft" lay-data="{field:'id',width:80}">id</th>
                        <th class="taleft" lay-data="{field:'name',}">工种名称</th>
                        <th class="taleft" lay-data="{field:'time',width:180}">添加时间</th>
                    </tr>
                </thead>
                <tbody> 
                  {foreach name="data" item="vo"}
                    <tr>
                      <td class="taleft">{$vo.id}</td>
                      <td class="taleft">{$vo.name}</td>
                      <td class="taleft">{$vo.time}</td>
                    </tr>       
                 {/foreach}
                </tbody>
            </table>
            {$data->render()|raw}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="/static/admin/js/jquery.min.js"></script>

<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;
        //工具栏事件
        table.on('toolbar(test3)', function(obj){
            if (obj.event == 'add'){
                var html = '';
                html += '<div class="layui-form-item" style="margin:5px 0">'
                html += '  <label class="layui-form-label" style="width:70px;padding:9px 5px">工种名称：</label>'
                html += '  <div class="layui-input-block" style="margin-left:85px">'
                html += '    <input type="text" name="name" autocomplete="off" class="layui-input">'
                html += '  </div>'
                html += '</div>'
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.open({
                    content: html,
                    title:'添加辅材',
                    btn: ['添加', '取消'],
                        yes: function(index, layero){
                            var name = $('input[name="name"]').val();
                            if(!name){
                                alert('工种名称不能为空！');
                                return false;
                            }
                            
                            $.post('/admin/basis_data/add_public_type_work',{name:name},function(res){
                                if(res.code === 1){
                                    layer.msg(res.msg);
                                    setTimeout(function(){
                                    　　window.location.reload()
                                    },1000);
                                }else{
                                    layer.msg(res.msg);
                                }
                            },'json')
                        },
                        btn2: function(index, layero){
                            layer.close(index);
                        },
                        cancel: function(){ 
                        //return false 开启该代码可禁止点击该按钮关闭
                        }
                    });
                }); 
            }
            
        });
    });
</script>
{/block}