{extend name="index_layout"/}
{block name="main"}
<style type="text/css">

</style>

  <!-- 导出完成 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this"><a href="{:url('admin/basis_data/tmp_report')}">公司基础数据</a></li>
                <li class=""><a href="{:url('admin/basis_data/tmp_report2')}">取费模板</a></li>
            </ul>
        <div class="layui-tab-content"></div>
        </div>
        <div class="layui-form">

            <table class="layui-table" lay-filter="test3"  lay-data="{id: '#test3', toolbar: '#toolbarDemo',defaultToolbar:['filter', 'exports','print'],page: true,limit:20,limits:[20,50,100,500]}">
                <thead >
                    <tr>
                        <th lay-data="{field:'f_id',align:'center',sort:true,width:140}">分公司</th>
                        <th lay-data="{field:'take_rate1',align:'center',sort:true,width:185}">一期款收费比率（%）</th>
                        <th lay-data="{field:'take_rate2',align:'center',sort:true,width:185}">二期款收费比率（%）</th>
                        <th lay-data="{field:'take_rate3',align:'center',sort:true,width:185}">三期款收费比率（%）</th>
                        <th lay-data="{field:'take_rate4', align:'center',sort:true,width:185}">四期款收费比率（%）</th>
                        <th lay-data="{field:'pick_rate',align:'center',sort:true,width:175}">领料审核界限（%）</th>
                        <th lay-data="{field:'borrower',align:'center',sort:true,width:175}">监理借支比率（%）</th>
                        <th lay-data="{field:'supervisor',align:'center',sort:true,width:145}">监理提成（%）</th>
                        <th lay-data="{field:'design',align:'center',sort:true,width:145}">设计提成（%）</th>
                        <th lay-data="{field:'repeat',align:'center',sort:true,width:165}">回头客提成（%）</th>
                        <th lay-data="{field:'business',align:'center',sort:true,width:155}">业务提成（%）</th>
                        <th lay-data="{field:'type',align:'center',sort:true,width:135}">报价模式</th>
                    </tr>
                </thead>
                <tbody> 
                    {foreach name="data" item="vo"}
                        <tr>
                            <td class="">{$frame[$vo['f_id']]['name'] ?: ''}</td>
                            <td class="">{$vo.take_rate1}</td>
                            <td class="">{$vo.take_rate2}</td>
                            <td class="">{$vo.take_rate3}</td>
                            <td class="">{$vo.take_rate4}</td>
                            <td class="">{$vo.pick_rate}</td>
                            <td class="">{$vo.borrower}</td>
                            <td class="">{$vo.supervisor}</td>
                            <td class="">{$vo.design}</td>
                            <td class="">{$vo.repeat}</td>
                            <td class="">{$vo.business}</td>
                            <td class="">{$vo.type == 1 ? '辅材、人工' : '综合价'}</td>
                        </tr>       
                     {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="/static/admin/js/jquery.min.js"></script>

<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;
    });
</script>
{/block}
