{extend name="index_layout"/}
{block name="main"}
<link rel="stylesheet" type="text/css" href="/static/layui/layui-v2.5.6/layui.css" />


<style>
    input{
        width: 464px;
        height: 32px;
        text-indent: 10px;
        line-height: 32px;
        font-size: 14px;
        /* color: #c1c1c1; */
        color: #666;
        background-position: -195px -536px;
        border: none;
    }
    #resou a{
        padding-right: 30px;
    }


</style>
<div style="margin: 0 auto;width: 600px"  >

    <form method="get" action="{:url('admin/indent/search')}">
        <div style="display: inline-block">
        <input type="text" name="search" value="{:input('search')}" placeholder="请输入您要搜索的文档名称"  >
        </div>
        <button type="submit" class="layui-btn layui-btn-normal">搜索</button>
    </form>
    <p id="resou">
        <span>热搜:</span>
        {foreach $topsearch as $key=>$vo}
        <a href="/admin/indent/search?search={$vo.title}">{$vo.title}</a>
        {/foreach}
    </p>
</div>
<div style="width: 100%;margin: 0 auto;border:1px solid #DDDDDD; display: flex;background-color: white">


    <div class="information-box" style="border:1px solid #DDDDDD; width: 250px;float: left;">

        <div id="test1" class="demo-tree demo-tree-box" style="height: 700px"></div>
    </div>
    <div style="width: 100%;height:100%;border:0px solid #DDDDDD;">
        {if isset($neq)}
        <div id="qc" style="margin: 8px">
            <?php
echo htmlspecialchars_decode($neq['content']);
?>

        </div>
        {else /}
        <div id="qc" style="margin: 8px">
            <div style="margin: 0 auto;width: 300px;font-size: 50px" > 操作文档</div>
        </div>
        {/if}
    </div>

</div>

{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script type="text/javascript" src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="__STATIC__/12/admin/js/jquery-2.0.0.js"></script>

<!--<script src="https://www.layuicdn.com/layer/layer.js"></script>-->
<script>
    layui.use(['tree', 'util'], function () {
        var E = window.wangEditor
        var editor = new E('#editor')
        editor.create()
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util
            $.ajax({
                type: "get",
                url: "/admin/indent/calendar",
                async:false,
                success: function (e) {
                    da=e;
                    tree.render({
                        elem: '#test1' //默认是点击节点可进行收缩
                        , data: da
                        ,showLine: false
                        ,click: function(obj){
                           var  id =obj.data.id;
                            $(".layui-tree-set").css('background',"none");
                            $(".layui-tree-set[data-id= "+id+" ]").css('background',"#eee");
                            console.log(obj.elem[0]); //得到当前节点元素
                            console.log(id); //得到当前点击的节点数据
                            $.ajax({
                                type: "post",
                                url: "/admin/indent/one",
                                data:{id:obj.data.id},
                                success: function (e) {
                                    $('#qc').empty(e.res.content)
                                    $('#qc').append(e.res.content)
                                },
                            })

                        }

                    });
                }
            });


    });





</script>
{/block}