{extend name="index_layout"/}
<style>
	.form-control{display: inline-block!important;padding: 5px;}
</style>
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">添加空间类型</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" id="myform" action="{:url('admin/offertype/addroom')}" method="post">
            <div class="area layui-form-item">
                <div class="layui-input-inline w300">
                    <span class="operation">
                        <a title="添加"class="addone">
                          <i class="layui-icon"></i>
                        </a>
                        <a title="删除">
                          <i class="layui-icon layui-icon-delete"></i>
                        </a>
                      </span>
                    <input type="text" name="name[]" autocomplete="off" placeholder="空间类型名称" required="" class="layui-input">
                    <input type="text" name="other[]" autocomplete="off" placeholder="其他备注" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item w300">
                <div class="layui-input-block">
                    <button class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">添加</button>
                    <a class="layui-btn layui-btn-normal" href="{:url('admin/Offertype/index')}">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','a.addone',function(){
            var html='<div class="layui-input-inline w300"><span class="operation"><a title="添加"class="addone"><i class="layui-icon"></i></a><a class="deleteone" title="删除"><i class="layui-icon layui-icon-delete"></i></a></span><input type="text" name="name[]" required="" autocomplete="off" placeholder="空间类型名称" class="layui-input"><input type="text" name="other[]" autocomplete="off" placeholder="其他备注" class="layui-input"></div>';
            $('.area').append(html);
         });

        $(document).on('click','a.deleteone',function(){
            $(this).parent().parent().remove();
        });
        $('#myform').submit(function(){
            var url = $(this).attr('action'),data = $(this).serialize();
            $.ajax({
                url:url,
                type:"post",
                data:data,
                success:function(result){
					console.log(result);
                    if(confirm(result.msg)){
                        if(result.code == 1){
                            window.location.href=result.url;
                        }
                    }
                }
            });
            return false;
        });


    });
</script>

{/block}