{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
/*分页样式*/
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
.pagination .active{background-color: #dd1a20;color: #fff;}
.pagination .disabled{color:#aaa;}
.onfile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.onfile input {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    opacity: 0;
}
.onfile:hover {
  opacity:0.8;
  color: #1E88C7
   /* background: #AADFFD;
    border-color: #78C3F3;
    color: #fff;
    text-decoration: none;*/
}
.daoru{position:absolute;top:1px;right:-90px;}
.daorus{position:absolute;top:1px;right:-50px;height:35px}
.bigbox{padding:10px}
.bigbox input{margin-bottom:10px}
#imgs{position:relative;}
.batchs span{cursor:pointer;}
.form-control{display: inline-block;padding: 5px;}
/*.text-limit{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 110px;}*/
	.text-center{text-align: center !important;}
    td{
        text-align: center;
        padding:5px 5px !important;
    }
    th{
        padding:5px 5px !important;
    }
.layui-card-body{
    line-height:normal;
}
.layui-table td, .layui-table th{
    line-height:normal;
}
thead{
    display: table-row-group;
}
/*td{
    padding: 3px !important;
    font-size: 12px !important;
}
th{
    padding: 3px !important;
    font-size: 12px !important;
}*/
</style>
  <!-- 导出完成 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="">
            <blockquote class="layui-elem-quote news_search">
                <!-- <a style="float: right" href="{:url('admin/furniture_orther/order_info',['o_id'=>input('o_id'),'type'=>input('type')==2?'':2])}" class="layui-btn layui-btn-sm layui-btn-primary"><?php echo input('type')==2?'切换原单':'切换完整订单' ?></a> -->
                <form class="layui-inline">
					<!-- <a class="layui-btn layui-btn-sm" id="export" href = "{:url('admin/offerlist/excel_export',['customerid'=>input('customerid'),'report_id'=>input('report_id'),'type'=>input('type')])}">导出报表</a> -->
                    <button class="layui-btn layui-btn-sm" type="button" data-fun="print" id="btn_export">打印</button>
					
					<!-- {switch name="order_info.status"}
						{case value="0"}<a class="layui-btn layui-btn-xs layui-btn-danger">未报价</a>{/case}
						{case value="1"} <a class="layui-btn layui-btn-xs layui-btn-danger">已报价</a>{/case}
						{case value="2"}<a class="layui-btn layui-btn-xs layui-btn-danger">预算价</a>{/case}
						{case value="3"} <a class="layui-btn layui-btn-xs layui-btn-danger">合同价</a>{/case}
						{case value="4"} <a class="layui-btn layui-btn-xs layui-btn-danger">结算价</a>{/case}
						{default /}
						<a class="layui-btn layui-btn-xs layui-btn-danger">未报价</a>
					{/switch} -->
				</form>
            </blockquote>
			<div id="export-table">
				{notempty name="data"}
                <!-- <table class="layui-table" style="word-break:break-all"> -->
                <table class="layui-table">
                      <colgroup>
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                      </colgroup>
					<thead>
						<tr>
							<th rowspan="2" colspan="3" style="text-align: center"><img style="max-width:160px;" src="__STATIC__/imgs/logo.png"></th>
							<th class="text-center text-large" colspan="4"><h3>住宅装饰工程造价预算书</h3></th>
							<th rowspan="2" colspan="1"></th>
					    </tr>
					    <tr>
							<th class="text-center" colspan="4">全国统一24小时客服热线<br />
                            400-628-1968</th>
					    </tr>
						<tr>
							<th style="text-align:center;" colspan="8">单位：{$order_info.unit}</th>        
						</tr>
						<tr>
							<th colspan="3">工程名称：{$userinfo.address}</th>       
							<th colspan="2">客户姓名：{$userinfo.customer_name}</th>       
							<th colspan="2">设计师姓名：{$userinfo.designer_name}</th>       
							<th colspan="1">报价师姓名：{$userinfo.quoter_name}</th>       
						</tr>
						<tr>      
                            <th colspan="1">序号</th>
							<th class="text-center" colspan="2">工程项目名称</th>         
							<th class="text-center">数量</th>       
							<th class="text-center">单位</th>
                            <th class="text-center" colspan="1">单价</th> 
							<th class="text-center" colspan="1">合价</th> 
							<th class="text-center">施工工艺及材料说明</th> 
						</tr>
					</thead>
					<tbody> 
						{notempty name="data"}
                            <?php 
                                $num1 = 65;
                            ?>
                            {foreach name="data" item="v1" key="k1"}
                                <tr data-cate="tr{$k1}">
                                    <td><?php echo chr($num1); ?></td>
                                    <td colspan="3">{$k1}</td>
                                    <td colspan="4"></td>
                                </tr>
                                <?php $num1++;$num2=1; ?>
                                {foreach name="$v1" item="v2" key="k2"}
                                    <tr class="tr{$k1}{$k2}">
                                        <td>{$num2}</td>
                                        <td colspan="2">{$v2['name']}</td>
                                        <td>{$v2['num']}</td>
                                        <td>{$v2['unit']}</td>
                                        <td>{$v2['price']}</td>
                                        <td>{$v2['price']*$v2['num']}</td>
                                        <td>{$v2['content']}</td>
                                    </tr>
                                {/foreach}
                                <tr class="tr{$k1}total">
                                    <td class="text-center" colspan="2">小计</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {/foreach}
                            <tr style="background-color:#eee">
                                    <td class="text-center" colspan="2">合计</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{$order_info['total_price']}</td>
                                    <td></td>
                                </tr>
                        {/notempty}
					</tbody>
				</table>
				{/notempty}
			</div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/admin/js/jquery.min.js"></script>
<!-- 打印 -->
<script src="__STATIC__/bootstrap/js/table/printThis.min.js"></script>
<script>
  $(document).ready(function(){
    $('tr').each(function(){
    	var cate = $(this).attr('data-cate');
        if(cate){
          var fd_total = 0,rd_total = 0;
             $('tr[class*='+cate+']').each(function(){
             	var fd = $(this).find('td').eq(5).html() * 1;//小计
                fd_total += fd;
             });
          $('.'+cate+'total').find('td').eq(5).html(Math.round(fd_total * 100)/100);
         }
    });
    
     //打印
     $(document).on('click','[data-fun="print"]',function(){
          $("table").printThis({
             debug: false,
             importCSS: true,
             importStyle: true,
             printContainer: true,
             loadCSS: "__STATIC__/bootstrap/css/printThis-p.css",
             // pageTitle: "姓名查询汇总表",
             removeInline: false,
             printDelay: 333,
             header: null,
             formValues: false
           });
      })
		//改变报表标签
    
    
  });
</script>
{/block}

      
